/* CSS */

body {
  font-family: Raleway,sans-serif;
  font-size:12px;
  background-image: url(images/lazy.png);
  

}


.container {
    width:940px;
    margin: 0 auto;
}

div.innerContainer {
    position: relative;
    float: left;
    width:940px;
}

div.topbar {
    position: relative;
    float: left;
    width:940px;
    height:11px;
    background-image: url(../templates/topbar.png);
    background-repeat: repeat-x;

}

div.header {
    position: relative;
    float: left;
    width:940px;
    height:68px;
    background-image: url(../templates/header.png);
    
}

/* Navigation bar things... */
div.navigation {
    position: relative;
    top:0px;
    float: left;
    width:940px;
    height:46px;
    background-image: url(../templates/navigation.png);
    background-repeat: repeat-x; 
}

.navigation ul li {
  list-style-type:none;
  font-size:1.08em;
  float: left;
}

.navigation li a{
  display:block;
  text-transform:uppercase;
  padding: 5px 25px;
  text-decoration: none;
  text-align:center;
  font-weight: bold;
  color: #008387;
  border-right: 1px solid #ccc;
  }
  .navigation li a:hover {
    color: #fff;
    background-color: #008387;
    }
/*End....*/

div.banner {
    position: relative;
    float: left;
    width:940px;
    height:350px;
    background-image: url(../templates/banner.png)

}

div.content {
    position: relative;
    float: left;
    width:940px;
    height: auto;
   background-image: url(../templates/content.png);
    background-repeat: repeat-x;
     opacity: 0.9;
    filter:alpha(opacity=90); /* For IE8 and earlier */
    
    
}


div.content h1 {
  text-align: center;
  margin-top: 30px;
  font-weight:100;
}
div.footer {
    position: relative;
    float: left;
    width:940px;
    height:101px;
    background-image: url(../templates/footer.png);
    background-repeat: repeat-x;
    margin-bottom: 18px;
}

div#featured {
    
    margin-right: 15px;
    float: right;
    width: 400px;
    height: auto;
   /* background-color: #008387;
    border-radius:23px;*/
    box-shadow: 10px 10px 5px #2E2E2E;
    font-family: Raleway,sans-serif;  
}

div#featured p {
  color:red;
}
div#featured p.con {
  color:#08088A;
  
  
}

div#featured img {
 width: 120px;
 height: 100px;
 float:left;
 margin-right:10px;
 border: solid 1px #008387;
}
div#app_holder{
   margin-right: 15px;
   margin-top:30px;
  float: right;
  width: 400px;
  height: 500px;
  margin-bottom: 0px;
  
}
div#app_holder h1 {
margin-right: 45px;
background-color:black;
color:white;
 margin-top:0px;
 margin-bottom:5px;
 font-family:Raleway;
 font-weight:100;
}

div#holder {
    float:left;
   margin-top: 30px;
   margin-bottom: 10px;
   margin-left:10px;
    width: 460px;
    height: auto;
    background-color:#BDBDBD; 
}

div#holder p {
  margin-left: 20px;
  margin-right: 15px;
  margin-top:10px;
  font-family: Raleway, sans-serif;
  font-size:13px; 
}

div#holder ul li {
  font-family: Raleway, sans-serif;
  color:red;
  font-size:12px;
}

div#holder h2 {
  text-align:center;
  margin-top:10px;
  font-family: Raleway, sans-serif;
  color:blue;
  font-weight:200;
}
div#holder h1 {
  margin-top:8px;
margin-bottom:0px;
margin-left:0px;
 background-color:black;
 color:white;
 margin-top:0px;
 font-family:Raleway;
font-weight:100;
}


/*All CSS related to the contact form */
  
div#contact_holder { /*this is so I can apply the background */
 float: left;
 margin-top: 30px;
   margin-bottom: 20px;
   margin-left: 10px;
   margin-right: 10px;
   width:400px;
    height:auto;
    background-color:#BDBDBD;
    box-shadow: 10px 10px 5px black;
}
div#contact_holder h1 {
 background-color:black;/*#878686;*/
 margin-top:0px;
 font-family:Raleway;
 color:white;
 font-weight:100;
}

#contactForm { /*For the form itself */
 margin-left: 30px;
 margin-top:20px;
 font-family: Raleway;
 font-weight:100;
 
}

#contactForm label {
  font-family: Raleway;
 font-weight:100;
}


#contactForm  input.submit{

color:black;
font-size:16px;
font-family: Quicksand;
 
} 

#contactForm p {
  /*color:#878686;*/
  font-size: 20px;
  font-weight:bold;
}


/* Classes for when error messages come up */

.incomplete {
	background:#008387;
	color:white;
}

.error {
	color:#008387;
	display:none;
  font-size:14px;
  text-align:centre;
  margin-left:20px;
  
}

/*End CSS for contact form*/

div#map {
 float:left;
 margin-top: 30px;
 margin-left: 70px;
 margin-bottom: 20px;
 height:auto;
}

div#map h1 {
 background-color:black;/*#878686;*/
 margin-top:0px;
 margin-bottom:0px;
 font-family:Raleway;
 color:white;
 font-weight:100;
}

div.devs {
   margin-top: 30px;
   margin-bottom: 30px;
   margin-left: 50px;
   margin-right:10px;
   
   /*right: 10%;*/
     width: 840px;
    height:auto;
     font-family: raleway,Trebuchet MS,Helvetica,Arial,Verdana,sans-serif;
}

div.devs img {
  /*float:right;
  margin-left: 20px;*/
  /*background-color:#888888;*/
  height: 150px;
  width: 120px;
  margin-top:0px;
 
}

div.devs h1 {
 background-color:#000000;
 color:white;
 margin-top:0px;
 font-family:Raleway;
 font-weight:100;
}

.dev_tab {
 overflow:auto;
 height:420px;
 margin-top:-15px;
}

.dev_tab p{
 margin-left:30px;
 margin-top:-20px;
 font-size:14px;
}

.dev_tab h3{
 background-color:#008387;
 text-align:center;
 margin-bottom:0px;
  margin-top:0px;
}

.dev_tab table {
 width:823px;
}

tr.dev_info_odd {
  background-color: #F2F2F2;
}
tr.dev_info_even {
   background-color: #878686;
   color:white;
   
}

div#apps {
 border:2px solid #008387;
}

